{% comment %} START - HERO {% endcomment %}
<div class="super_container">
  <section id="section-hero-collections" class="cols-collections">

        
    	
   		 <div class="lazyload col-collection col-collection--warm" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-header-warm-desk_2x_alphaTop.jpg?v=1633789551" data-sizes="auto">

           
             <div class="col-collection__content col-collection__content--warm">
              <h2>STAY<br/><span style="display:none;" class="spacer">  </span>WARM<i class="fas fa-chevron-down arrow_down"  style="display:none;"></i></h2>
                <h4>{{ section.settings.banner_text1 }}</h4>
                <i class="fas fa-chevron-down"></i>
             </div>

         </div>
         

        <div class="lazyload col-collection col-collection--xwarm" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-header-x-warm-desk_2x_alphaTop.jpg?v=1633789551" data-sizes="auto">

            <div class="col-collection__content col-collection__content--xwarm">
                <h2>STAY<br/><span style="display:none;" class="spacer">  </span>X-WARM<i class="fas fa-chevron-down arrow_down" style="display:none;"></i></h2>
                <h4>{{ section.settings.banner_text2 }}</h4>
                <i class="fas fa-chevron-down"></i>
            </div>

        </div>

        <div class="lazyload col-collection col-collection--fresh" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-header-fresh-desk_2x_alphaTop.jpg?v=1633789551" data-sizes="auto">

            <div class="col-collection__content col-collection__content--fresh">
                <h2>STAY<br/><span style="display:none;" class="spacer">  </span>FRESH<i class="fas fa-chevron-down arrow_down"  style="display:none;"></i></h2>
                <h4>{{ section.settings.banner_text3 }}</h4>
                <i class="fas fa-chevron-down"></i>
            </div>

        </div>

  </section>
  </div>  
{% comment %} END - HERO {% endcomment %}



{% comment %} START - DISCOVER {% endcomment %}
<section id="section-discover" class="lazyload" data-sizes="auto" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-texture-01-desk_1x_1b9f86db-52dc-4cc6-9e35-1a84dec6cc3b.png?v=163292912">

    <div class="box-width">

        <div class="cols-discover">

            <div class="col-discover__content">

                <h2>{{ section.settings.discover_title }}</h2>

                <h1>{{ section.settings.discover_text1 }}</h1>

                {{ section.settings.discover_text2 }}


                <a class="banner-cta__link scopri_collezioni" href="{{ section.settings.discover_cta1_link }}">{{ section.settings.discover_cta1_text }} <i class="far fa-arrow-alt-circle-down"></i></a>

                <a class="banner-cta__link" href="{{ section.settings.discover_cta2_link }}">{{ section.settings.discover_cta2_text }}</a>

                <span id="collections-block"></span>
            </div>

            <div class="col-discover__image">

                <img class="only-desk lazyload" data-sizes="auto" data-src="{{ section.settings.discover_image_link_desk }}" alt="discover collections silverskin">

            </div>

            <div class="discover-swiper only-mob">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-src="{{ section.settings.discover_image_link_mob1 }}" alt="discover collections silverskin">
                        </div>
                        <div class="swiper-slide">
                            <img class="lazyload" data-sizes="auto" data-src="{{ section.settings.discover_image_link_mob2 }}" alt="discover collections silverskin">
                        </div>
                    </div>
                  
                </div>
              	
                <div class="swiper-pagination"></div>
              
            </div>
			
        </div>  
		
    </div>


</section>
{% comment %} END - DISCOVER {% endcomment %}








{% comment %} START - STAY WARM {% endcomment %}
<section id="section-warm-collection" data-sizes="auto" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-texture-02-desk_1x_176f5b0a-ad66-4f2c-a31c-0989e9f77d3f.png?v=1632929126" class="collections-slider-large lazyload" attr-typecol="warm">

    <div class="container-sliders_markers">

        <div class="fixed-content only-mob">
            <h4 class="fromto fromto--warm">{{ section.settings.banner_text1 }}</h4>
            <h2>STAY WARM</h2>
            <p class="undertitle"><strong>{{ section.settings.slider_banner_generic_text_1 }}</strong></p>
            <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-warm-mob_2x_34b4e197-353c-4fcd-a42c-8cb8bdf2805b.png?v=1632932108" alt="activity silverskin">
            <span class="line-copy"></span>
        </div>

        {% comment %} start - left slide {% endcomment %}

        <div class="swiper-container container-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-image lazyload" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-warm-01-desk_2x_f9f09413-e89a-42e0-a8ca-12bbbe36dce1.jpg?v=1632929126" data-sizes="auto">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-image lazyload" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-warm-02-desk_2x_36493d94-5d70-45fe-b031-73c38bd48dd0.jpg?v=1632929126" data-sizes="auto">
                    </div>
                </div>
            </div>

        </div>

        <div class="slider-navigation-specs">
            <div class="swiper-button-next">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewbox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>

                
            </div>
            <div class="swiper-button-prev">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewbox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>

                
            </div>
        </div>
        {% comment %} end - left slide {% endcomment %}

        {% comment %} start - right slide {% endcomment %}
        <div class="swiper-container container-left container-text">
            <div class="fixed-content only-desk">

                <h4 class="fromto fromto--warm">{{ section.settings.banner_text1 }}</h4>
                <h2>STAY WARM</h2>
                <p class="undertitle"><strong>{{ section.settings.slider_banner_generic_text_1 }}</strong></p>
                <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-warm-desk_2x_c5234fcd-14e7-4f4d-8ce1-9eee49f45194.png?v=1632929126" alt="activity silverskin">
                <span class="line-copy only-desk"></span>
            </div>


            <div class="swiper-wrapper">
            
                <div class="swiper-slide">
                    <div class="align-left">
                        <img class="only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-icn-primary-mob_2x_91374e3e-693d-4fe6-808d-d49887a627e9.png?v=1632931220" alt="fiber silverskin icon">
                      <p class="change_collection">{{ section.settings.staywarm_slide_first }}</p>
                    </div>
                    <h5>{{ section.settings.slider_banner_generic_text_2 }}</h5>
                    <img class="only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-warm-desk_2x_ebeaefb0-e899-4bd8-ba7b-741c6c9401b9.png?v=1632929126" alt="range termic silverskin">
                    <img class="only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-warm-mob_2x_7f5786ef-ee8f-44c5-8d47-8b29e07059b1.png?v=1632932108" alt="range termic silverskin">
                    <h5>{{ section.settings.slider_banner_generic_text_3 }}</h5>
                </div>

                <div class="swiper-slide">
                    <div class="align-left">
                      {{ section.settings.staywarm_slide }}
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>

            <a class="cta-collection banner-cta__link" href="{{ section.settings.staywarm_cta_link }}">{{ section.settings.banners_cta }}</a>
        </div>


        {% comment %} end - right slide {% endcomment %}


    </div>




    {% comment %} START - WARM SLIDER {% endcomment %}
    <div class="section-bestsellers section-bestsellers--warm">
        <div class="box-width section-bestsellers__content">
            <h2>{{ section.settings.staywarm_products_title }}</h2>

            <div class="swiper-container technology-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].selected_or_first_available_variant.featured_image | default: all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].type }}" 
                             href="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-1'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-2'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-2'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-2'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-2'].type }}" 
                             href="{{ all_products['base-layer-termico-girocollo-manica-corta-anthracite-2'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].selected_or_first_available_variant.featured_image | default: all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-1'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-1'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-1'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-1'].type }}" 
                             href="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-1'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].type }}" 
                             href="{{ all_products['base-layer-termico-girocollo-manica-lunga-pearlgrey-2'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                    {% assign featured_image = all_products['copia-del-leggings-termico-corto-anthracite'].selected_or_first_available_variant.featured_image | default: all_products['copia-del-leggings-termico-corto-anthracite'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['copia-del-leggings-termico-corto-anthracite'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['copia-del-leggings-termico-corto-anthracite'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['copia-del-leggings-termico-corto-anthracite'].title }}" 
                             attr-price="{{ all_products['copia-del-leggings-termico-corto-anthracite'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['copia-del-leggings-termico-corto-anthracite'].handle }}" 
                             attr-type="{{ all_products['copia-del-leggings-termico-corto-anthracite'].type }}" 
                             href="{{ all_products['copia-del-leggings-termico-corto-anthracite'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['leggings-termico-corto-anthracite-3'].title }}" 
                             attr-price="{{ all_products['leggings-termico-corto-anthracite-3'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['leggings-termico-corto-anthracite-3'].handle }}" 
                             attr-type="{{ all_products['leggings-termico-corto-anthracite-3'].type }}" 
                             href="{{ all_products['leggings-termico-corto-anthracite-3'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['stay-warm-cappello-pearlgrey'].selected_or_first_available_variant.featured_image | default: all_products['stay-warm-cappello-pearlgrey'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['stay-warm-cappello-pearlgrey'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['stay-warm-cappello-pearlgrey'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['cappello-performance-grigio-perla-sk015w'].title }}" 
                             attr-price="{{ all_products['cappello-performance-grigio-perla-sk015w'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['cappello-performance-grigio-perla-sk015w'].handle }}" 
                             attr-type="{{ all_products['cappello-performance-grigio-perla-sk015w'].type }}" 
                             href="{{ all_products['cappello-performance-grigio-perla-sk015w'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['stay-warm-cappello-pearlgrey'].title }}" 
                             attr-price="{{ all_products['stay-warm-cappello-pearlgrey'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['stay-warm-cappello-pearlgrey'].handle }}" 
                             attr-type="{{ all_products['stay-warm-cappello-pearlgrey'].type }}" 
                             href="{{ all_products['stay-warm-cappello-pearlgrey'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>



                </div>
                <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
            </div>

        </div>
    </div>
    {% comment %} END - WARM SLIDER {% endcomment %}


</section>
{% comment %} END - STAY WARM {% endcomment %}




<hr class="only-mob"/>




{% comment %} START - STAY XWARM {% endcomment %}
<section id="section-xwarm-collection" class="collections-slider-large lazyload" data-sizes="auto" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-texture-03-desk_1x_d6d7c1b2-443c-44c7-963d-5e2f62919e80.png?v=1632993009" attr-typecol="xwarm">

    <div class="container-sliders_markers">

        <div class="fixed-content only-mob">
            <h4 class="fromto fromto--xwarm">{{ section.settings.banner_text2 }}</h4>
            <h2>STAY X-WARM</h2>
            <p class="undertitle"><strong>{{ section.settings.slider_banner_generic_text_1 }}</strong></p>
            <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-x-warm-mob_2x_db9a9bb2-e9cc-406d-8cd4-16455e3780a8.png?v=1632932108" alt="activity silverskin">
            <span class="line-copy"></span>
        </div>



        {% comment %} start - right slide {% endcomment %}
        <div class="swiper-container container-left container-text">
            <div class="fixed-content only-desk">

                <h4 class="fromto fromto--xwarm">{{ section.settings.banner_text2 }}</h4>
                <h2>STAY X-WARM</h2>
                <p class="undertitle"><strong>{{ section.settings.slider_banner_generic_text_1 }}</strong></p>
                <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-x-warm-desk_2x_e1cb8e75-16c7-4ced-b9d7-1b7b5636dc82.png?v=1632929126" alt="activity silverskin">
                <span class="line-copy only-desk"></span>
            </div>


            <div class="swiper-wrapper">
            
                <div class="swiper-slide">
                    <div class="align-left">
                        <img class="only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-icn-primary-mob_2x_91374e3e-693d-4fe6-808d-d49887a627e9.png?v=1632931220" alt="fiber silverskin icon">
                      <p class="change_collection">{{ section.settings.stayxwarm_slide_first }}</p>
                    </div>
                    <h5>{{ section.settings.slider_banner_generic_text_2 }}</h5>
                    <img class="only-desk" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-x-warm-desk_2x_c894978d-da54-47e4-9c4d-0a576cad8153.png?v=1632929126" alt="range termic silverskin">
                    <img class="only-mob" src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-x-warm-mob_2x_9ae37f69-fc22-41f3-a00b-886dceaa7e61.png?v=1632932108" alt="range termic silverskin">
                    <h5>{{ section.settings.slider_banner_generic_text_3 }}</h5>
                  	               	
                </div>

                <div class="swiper-slide">
                    <div class="align-left">
                      {{ section.settings.stayxwarm_slide }}
                    </div>
                </div>

            </div>
			
            <a class="cta-collection banner-cta__link" href="{{ section.settings.stayxwarm_cta_link }}">{{ section.settings.banners_cta }}</a>
            <div class="swiper-pagination"></div>
            

        </div>


        {% comment %} end - right slide {% endcomment %}



        {% comment %} start - left slide {% endcomment %}

        <div class="swiper-container container-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-image lazyload" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-x-warm-01-desk_2x_f1a5962e-a616-4b2a-bae0-d23106955942.jpg?v=1632929126" data-sizes="auto">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-image lazyload" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-x-warm-02-desk_2x_cc7d7fcc-ead0-4a26-b66a-59c35cf70329.jpg?v=1632929126" data-sizes="auto">
                    </div>
                </div>
            </div>

        </div>

        <div class="slider-navigation-specs">
            <div class="swiper-button-next">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right" viewbox="0 0 284.49 498.98"><path d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z"></path></svg>                
            </div>
            <div class="swiper-button-prev">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left" viewbox="0 0 284.49 498.98"><path d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z"></path></svg>                
            </div>
        </div>
        {% comment %} end - left slide {% endcomment %}


    </div>




    {% comment %} START - XWARM SLIDER {% endcomment %}
    <div class="section-bestsellers section-bestsellers--warm">
        <div class="box-width section-bestsellers__content">
            <h2>{{ section.settings.stayxwarm_products_title }}</h2>

            <div class="swiper-container technology-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].selected_or_first_available_variant.featured_image | default: all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].type }}" 
                             href="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].type }}" 
                             href="{{ all_products['base-layer-termico-manica-lunga-collo-alto-anthracite-2'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].selected_or_first_available_variant.featured_image | default: all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].type }}" 
                             href="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].title }}" 
                             attr-price="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].handle }}" 
                             attr-type="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].type }}" 
                             href="{{ all_products['base-layer-termico-manica-lunga-girocollo-grigio-perla-sk003lnx'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>
                    
                    <div class="swiper-slide">
                    {% assign featured_image = all_products['leggings-termico-anthracite-3'].selected_or_first_available_variant.featured_image | default: all_products['leggings-termico-anthracite-3'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['leggings-termico-anthracite-3'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['leggings-termico-anthracite-3'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['leggings-termico-anthracite-3'].title }}" 
                             attr-price="{{ all_products['leggings-termico-anthracite-3'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['leggings-termico-anthracite-3'].handle }}" 
                             attr-type="{{ all_products['leggings-termico-anthracite-3'].type }}" 
                             href="{{ all_products['leggings-termico-anthracite-3'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['leggings-termico-anthracite-3'].title }}" 
                             attr-price="{{ all_products['leggings-termico-anthracite-3'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['leggings-termico-anthracite-3'].handle }}" 
                             attr-type="{{ all_products['leggings-termico-anthracite-3'].type }}" 
                             href="{{ all_products['leggings-termico-anthracite-3'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                    {% assign featured_image = all_products['passamontagna-performance-grigio-perla-sk027x'].selected_or_first_available_variant.featured_image | default: all_products['passamontagna-performance-grigio-perla-sk027x'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997" alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998" alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['passamontagna-performance-grigio-perla-sk027x'].title }}</h4>    
                        <h4 class="best-sellers-price">{{ all_products['passamontagna-performance-grigio-perla-sk027x'].price | money }}</h4>    
                        <div class="best-sellers-cta">
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].title }}" 
                             attr-price="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].handle }}" 
                             attr-type="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].type }}" 
                             href="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].url }}">ACQUISTA UOMO</a>
                        <a class="best-sellers-cta__link"
                             attr-title="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].title }}" 
                             attr-price="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].price | money | remove: '€ ' | replace: ',' , '.' }}" 
                             attr-handle="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].handle }}" 
                             attr-type="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].type }}" 
                             href="{{ all_products['passamontagna-performance-grigio-perla-sk027x'].url }}">ACQUISTA DONNA</a>
                        </div>
                    </div>


                </div>
                <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
            </div>

        </div>
    </div>
    {% comment %} END - XWARM SLIDER {% endcomment %}


</section>
{% comment %} END - STAY XWARM {% endcomment %}


<hr class="only-mob" />


{% comment %} START - STAY FRESH {% endcomment %}
<section id="section-fresh-collection" data-sizes="auto" data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-texture-02-desk_1x_176f5b0a-ad66-4f2c-a31c-0989e9f77d3f.png?v=1632929126" class="collections-slider-large lazyload" attr-typecol="fresh">

    <div class="container-sliders_markers">

        <div class="fixed-content only-mob">
            <h4 class="fromto fromto--fresh">{{ section.settings.banner_text3 }}</h4>
            <h2>STAY FRESH</h2>
            <p class="undertitle"><strong>{{ section.settings.slider_banner_generic_text_1 }}</strong></p>
            <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-fresh-mob_2x_b2494369-f1ea-44c4-92f7-a0ed6d90cf80.png?v=1632932108"
                alt="activity silverskin">
            <span class="line-copy"></span>
        </div>

        {% comment %} start - left slide {% endcomment %}

        <div class="swiper-container container-right">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="slider-image lazyload"
                        data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-fresh-01-desk_2x_5de91cd1-1528-46b5-bdea-15d3b9c553ff.jpg?v=1632929126" data-sizes="auto">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="slider-image lazyload"
                        data-bgset="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-slider-fresh-02-desk_2x_5b810bd4-f3ea-41a1-9a34-4e86bd33e348.jpg?v=1632929126" data-sizes="auto">

                    </div>
                </div>
            </div>

        </div>

        <div class="slider-navigation-specs">
            <div class="swiper-button-next">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-right"
                    viewbox="0 0 284.49 498.98">
                    <path
                        d="M35 498.98a35 35 0 0 1-24.75-59.75l189.74-189.74L10.25 59.75a35.002 35.002 0 0 1 49.5-49.5l214.49 214.49a35 35 0 0 1 0 49.5L59.75 488.73A34.89 34.89 0 0 1 35 498.98z">
                    </path>
                </svg>


            </div>
            <div class="swiper-button-prev">
                <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-chevron-left"
                    viewbox="0 0 284.49 498.98">
                    <path
                        d="M249.49 0a35 35 0 0 1 24.75 59.75L84.49 249.49l189.75 189.74a35.002 35.002 0 1 1-49.5 49.5L10.25 274.24a35 35 0 0 1 0-49.5L224.74 10.25A34.89 34.89 0 0 1 249.49 0z">
                    </path>
                </svg>


            </div>
        </div>
        {% comment %} end - left slide {% endcomment %}

        {% comment %} start - right slide {% endcomment %}
        <div class="swiper-container container-left container-text">
            <div class="fixed-content only-desk">

                <h4 class="fromto fromto--fresh">{{ section.settings.banner_text3 }}</h4>
                <h2>STAY FRESH</h2>
                <p class="undertitle"><strong>{{ section.settings.banner_text3 }}</strong></p>
                <img class="lazyload" data-sizes="auto" data-src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-sports-fresh-desk_2x_1db6528f-d4db-4fbd-8935-6647ac406587.png?v=1632929126"
                    alt="activity silverskin">
                <span class="line-copy only-desk"></span>
            </div>


            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="align-left">
                        <img class="only-desk"
                            src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-icn-primary-mob_2x_91374e3e-693d-4fe6-808d-d49887a627e9.png?v=1632931220"
                            alt="fiber silverskin icon">
                        <p class="change_collection">{{ section.settings.stayfresh_slide_first }}</p>
                    </div>
                    <h5>{{ section.settings.banner_text3 }}</h5>
                    <img class="only-desk"
                        src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-fresh-desk_2x_0f5daf99-583f-463f-8918-8c5e0ff50914.png?v=1632929126"
                        alt="range termic silverskin">
                    <img class="only-mob"
                        src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/210929-silverskin-our-collections-thermo-fresh-mob_2x_20369647-2edb-4409-a3e8-021aed008763.png?v=1632932108"
                        alt="range termic silverskin">
                    <h5>{{ section.settings.slider_banner_generic_text_3 }}</h5>
                </div>

                <div class="swiper-slide">
                    <div class="align-left">
                        {{ section.settings.stayfresh_slide }}
                    </div>
                </div>

            </div>

            <div class="swiper-pagination"></div>
            <a class="cta-collection banner-cta__link" href="{{ section.settings.stayfresh_cta_link }}">{{
                section.settings.banners_cta }}</a>

        </div>


        {% comment %} end - right slide {% endcomment %}


    </div>




    {% comment %} START - FRESH SLIDER {% endcomment %}
    <div class="section-bestsellers section-bestsellers--warm">
        <div class="box-width section-bestsellers__content">
            <h2>{{ section.settings.stayfresh_products_title }}</h2>

            <div class="swiper-container technology-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        {% assign featured_image =
                        all_products['base-layer-termico-smanicato-pearlgrey'].selected_or_first_available_variant.featured_image
                        | default: all_products['base-layer-termico-smanicato-pearlgrey'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997"
                                alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998"
                                alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-smanicato-pearlgrey'].title }}</h4>
                        <h4 class="best-sellers-price">{{ all_products['base-layer-termico-smanicato-pearlgrey'].price |
                            money }}</h4>
                        <div class="best-sellers-cta">
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['base-layer-termico-smanicato-pearlgrey'].title }}"
                                attr-price="{{ all_products['base-layer-termico-smanicato-pearlgrey'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['base-layer-termico-smanicato-pearlgrey'].handle }}"
                                attr-type="{{ all_products['base-layer-termico-smanicato-pearlgrey'].type }}"
                                href="{{ all_products['base-layer-termico-smanicato-pearlgrey'].url }}">ACQUISTA
                                UOMO</a>
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['base-layer-termico-smanicato-pearlgrey'].title }}"
                                attr-price="{{ all_products['base-layer-termico-smanicato-pearlgrey'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['base-layer-termico-smanicato-pearlgrey'].handle }}"
                                attr-type="{{ all_products['base-layer-termico-smanicato-pearlgrey'].type }}"
                                href="{{ all_products['base-layer-termico-smanicato-pearlgrey'].url }}">ACQUISTA
                                DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        {% assign featured_image =
                        all_products['stay-fresh-canotta-termica-anthracite'].selected_or_first_available_variant.featured_image
                        | default: all_products['stay-fresh-canotta-termica-anthracite'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997"
                                alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998"
                                alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['stay-fresh-canotta-termica-anthracite'].title }}</h4>
                        <h4 class="best-sellers-price">{{ all_products['stay-fresh-canotta-termica-anthracite'].price |
                            money }}</h4>
                        <div class="best-sellers-cta">
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['stay-fresh-canotta-termica-anthracite'].title }}"
                                attr-price="{{ all_products['stay-fresh-canotta-termica-anthracite'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['stay-fresh-canotta-termica-anthracite'].handle }}"
                                attr-type="{{ all_products['stay-fresh-canotta-termica-anthracite'].type }}"
                                href="{{ all_products['stay-fresh-canotta-termica-anthracite'].url }}">ACQUISTA UOMO</a>
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['stay-fresh-canotta-termica-anthracite'].title }}"
                                attr-price="{{ all_products['stay-fresh-canotta-termica-anthracite'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['stay-fresh-canotta-termica-anthracite'].handle }}"
                                attr-type="{{ all_products['stay-fresh-canotta-termica-anthracite'].type }}"
                                href="{{ all_products['stay-fresh-canotta-termica-anthracite'].url }}">ACQUISTA
                                DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        {% assign featured_image =
                        all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].selected_or_first_available_variant.featured_image
                        | default: all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].featured_image
                        %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997"
                                alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998"
                                alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].title }}</h4>
                        <h4 class="best-sellers-price">{{
                            all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].price | money }}</h4>
                        <div class="best-sellers-cta">
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].title }}"
                                attr-price="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].handle }}"
                                attr-type="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].type }}"
                                href="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].url }}">ACQUISTA
                                UOMO</a>
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].title }}"
                                attr-price="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].handle }}"
                                attr-type="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].type }}"
                                href="{{ all_products['base-layer-termico-girocollo-manica-corta-grigio-perla'].url }}">ACQUISTA
                                DONNA</a>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        {% assign featured_image =
                        all_products['stay-fresh-endurance-run-socks-anthracite'].selected_or_first_available_variant.featured_image
                        | default: all_products['stay-fresh-endurance-run-socks-anthracite'].featured_image %}
                        <img class="lazyload" data-sizes="auto" data-src="{{ featured_image | img_url: '1024x' }}" alt="best seller silverskin">
                        <div class="color-viariation-grid">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-antrachite-color-icon.png?v=1610984997"
                                alt="silverskin color variations">
                            <img src="https://cdn.shopify.com/s/files/1/0285/3706/1424/files/pdp-grey-color-icon.png?v=1610984998"
                                alt="silverskin color variations">
                        </div>
                        <h4>{{ all_products['stay-fresh-endurance-run-socks-anthracite'].title }}</h4>
                        <h4 class="best-sellers-price">{{
                            all_products['stay-fresh-endurance-run-socks-anthracite'].price | money }}</h4>
                        <div class="best-sellers-cta">
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].title }}"
                                attr-price="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].handle }}"
                                attr-type="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].type }}"
                                href="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].url }}">ACQUISTA
                                UOMO</a>
                            <a class="best-sellers-cta__link"
                                attr-title="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].title }}"
                                attr-price="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].price | money | remove: '€ ' | replace: ',' , '.' }}"
                                attr-handle="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].handle }}"
                                attr-type="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].type }}"
                                href="{{ all_products['stay-fresh-endurance-run-socks-anthracite'].url }}">ACQUISTA
                                DONNA</a>
                        </div>
                    </div>


                </div>
                <div class="swiper-button-next"><i class="fas fa-angle-right"></i></div>
                <div class="swiper-button-prev"><i class="fas fa-angle-left"></i></div>
            </div>

        </div>
    </div>
    {% comment %} END - FRESH SLIDER {% endcomment %}


</section>
{% comment %} END - STAY FRESH {% endcomment %}








{% comment %} START - FAQ {% endcomment %}

<section id="section-collections-faq">

    <div class="page-width">
        <h2>FAQ SECTION</h2>

        <div class="faq-accordion">

            <div class="faq-acc-single opened">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq1_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq1_text }}
                </div>
            </div>

            <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq2_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq2_text }}
                </div>
            </div>

            <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq3_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq3_text }}
                </div>
            </div>

                <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq4_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq4_text }}                
                </div>
            </div>

            <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq5_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq5_text }}
                </div>
            </div>

            <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq6_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq6_text }}
                </div>
            </div>

            <div class="faq-acc-single">

                <div class="faq-acc-single__head">
                    <h4>{{ section.settings.faq7_title }}</h4>
                    <i class="fas fa-angle-down"></i>
                </div>
                <div class="faq-acc-single__content">
                    {{ section.settings.faq7_text }}
                </div>
            </div>


        </div>

        <p class="text-center">Non trovi quello che stai cercando?</p>

        {% if shop.locale == "it" %}
            {% assign link_lang_trad = "" %}
        {% else %}
            {% assign link_lang_trad = "/" | append: shop.locale %}
        {% endif %}

        <a class="faq-cta__link" href="{{link_lang_trad}}/pages/contattaci2">CONTATTACI</a> 

    </div>
</section>
{% comment %} END - FAQ {% endcomment %}








{% comment %} START - FAQ {% endcomment %}

<section id="section-collections-testimonials">

    <div class="page-width">
        <h2>ATHLETES TESTIMONIALS</h2>


        <div class="testimonials-group">

            <div class="testimonial-single">

                <img class="icon-quote" src="//cdn.shopify.com/s/files/1/0285/3706/1424/t/8/assets/apice.svg?v=4860694056923069250" alt="apice silverskin">

                <p class="testimonial-text">“Una vera seconda pelle, perfettamente sintonizzata con il corpo e i suoi movimenti, anche i più esasperati [...] Una vera sorpresa!”</p>

                <img class="testimonial-image lazyload" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0285/3706/1424/files/testimonials-02_2x_ac7c7b9e-cf45-47d8-8953-20c6821e94b2_400x.png?v=1616940191" alt="testimonial">

                <p class="testimonial-author">Alfredo Tradati - Giornalista, ex allenatore e coach di sciatori della nazionale</p>

            </div>

            <div class="testimonial-single">

                <img class="icon-quote" src="//cdn.shopify.com/s/files/1/0285/3706/1424/t/8/assets/apice.svg?v=4860694056923069250" alt="apice silverskin">

                <p class="testimonial-text">“Negli anni di carriera ho capito che lo strato a contatto con la pelle è il più importante. <br>Con Silverskin ho risolto.”</p>

                <img class="testimonial-image lazyload" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0285/3706/1424/files/testimonials-03_2x_fd1b7317-0647-4109-a190-61403da2b27d_400x.png?v=1616940153" alt="testimonial">

                <p class="testimonial-author">Daniele Ratto – Ciclista professionista dal 2010 al 2016, vincitore di tappa alla Vuelta a España</p>
                
            </div>


            <div class="testimonial-single">

                <img class="icon-quote" src="//cdn.shopify.com/s/files/1/0285/3706/1424/t/8/assets/apice.svg?v=4860694056923069250" alt="apice silverskin">

                <p class="testimonial-text">“Davvero comoda sulla pelle. A prima vista la maglia mi sembrava troppo piccola. A vederla ti aspetti compressione, invece ti avvolge alla perfezione.”</p>

                <img class="testimonial-image lazyload" data-sizes="auto" data-src="//cdn.shopify.com/s/files/1/0285/3706/1424/files/testimonials-01_2x_4137cdb7-92e8-4d64-be67-377a09754ef0_400x.png?v=1616940116" alt="testimonial">

                <p class="testimonial-author">Alessandro Silva - Maestro di sci e amante della montagna</p>

            </div>
        </div>

    </div>
</section>
{% comment %} END - FAQ {% endcomment %}






{% schema %}
  {
    "name": "Page.collection page",
    "settings": [
        {
            "type": "text",
            "id": "banners_cta",
            "label": "Banners CTA generic"
        },
        {
            "type": "text",
            "id": "banner_text1",
            "label": "Banner Text 1"
        },
        {
            "type": "text",
            "id": "banner_text2",
            "label": "Banner Text 2"
        },
        {
            "type": "text",
            "id": "banner_text3",
            "label": "Banner Text 3"
        },
        {
            "type": "text",
            "id": "discover_title",
            "label": "Discover Title"
        },
        {
            "type": "text",
            "id": "discover_text1",
            "label": "Discover Text1"
        },
        {
            "type": "textarea",
            "id": "discover_text2",
            "label": "Discover Text2"
        },
        {
            "type": "text",
            "id": "discover_cta1_text",
            "label": "Discover cta 1 Text"
        },
        {
            "type": "text",
            "id": "discover_cta1_link",
            "label": "Discover cta 1 link"
        },
        {
            "type": "text",
            "id": "discover_cta2_text",
            "label": "Discover cta 2 Text"
        },
        {
            "type": "text",
            "id": "discover_cta2_link",
            "label": "Discover cta 2 link"
        },
        {
            "type": "text",
            "id": "discover_image_link_desk",
            "label": "Discover image link Desk"
        },
        {
            "type": "text",
            "id": "discover_image_link_mob1",
            "label": "Discover image link Mob 1"
        },
        {
            "type": "text",
            "id": "discover_image_link_mob2",
            "label": "Discover image link Mob 2"
        },
        {
            "type": "text",
            "id": "slider_banner_generic_text_1",
            "label": "Slider banner Generic Text 1"
        },
        {
            "type": "text",
            "id": "slider_banner_generic_text_2",
            "label": "Slider banner Generic Text 2"
        },
        {
            "type": "text",
            "id": "slider_banner_generic_text_3",
            "label": "Slider banner Generic Text 3"
        },
        {
            "type": "text",
            "id": "staywarm_slide_first",
            "label": "Stay Warm Slide First"
        },
        {
            "type": "text",
            "id": "staywarm_slide",
            "label": "Stay Warm Slide"
        },
        {
            "type": "text",
            "id": "staywarm_products_title",
            "label": "Stay Warm Products Title"
        },
        {
            "type": "text",
            "id": "staywarm_cta_link",
            "label": "Stay Warm CTA Link"
        },
        {
            "type": "text",
            "id": "stayxwarm_slide_first",
            "label": "Stay X Warm Slide First"
        },
        {
            "type": "textarea",
            "id": "stayxwarm_slide",
            "label": "Stay X Warm Slide"
        },
        {
            "type": "text",
            "id": "stayxwarm_products_title",
            "label": "Stay X Warm Products Title"
        },
        {
            "type": "text",
            "id": "stayxwarm_cta_link",
            "label": "Stay X Warm CTA Link"
        },
        {
            "type": "text",
            "id": "stayfresh_slide_first",
            "label": "Stay Fresh Slide First"
        },
        {
            "type": "textarea",
            "id": "stayfresh_slide",
            "label": "Stay Fresh Slide"
        },
        {
            "type": "text",
            "id": "stayfresh_products_title",
            "label": "Stay Fresh Products Title"
        },
        {
            "type": "text",
            "id": "stayfresh_cta_link",
            "label": "Stay Fresh CTA Link"
        },
        {
            "type": "text",
            "id": "faq1_title",
            "label": "Faq1 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq1_text",
            "label": "Faq1 Testo"
        },
        {
            "type": "text",
            "id": "faq2_title",
            "label": "Faq2 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq2_text",
            "label": "Faq2 Testo"
        },
        {
            "type": "text",
            "id": "faq3_title",
            "label": "Faq3 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq3_text",
            "label": "Faq3 Testo"
        },
        {
            "type": "text",
            "id": "faq4_title",
            "label": "Faq4 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq4_text",
            "label": "Faq4 Testo"
        },
        {
            "type": "text",
            "id": "faq5_title",
            "label": "Faq5 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq5_text",
            "label": "Faq5 Testo"
        },
        {
            "type": "text",
            "id": "faq6_title",
            "label": "Faq6 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq6_text",
            "label": "Faq6 Testo"
        },
        {
            "type": "text",
            "id": "faq7_title",
            "label": "Faq7 Titolo"
        },
        {
            "type": "textarea",
            "id": "faq7_text",
            "label": "Faq7 Testo"
        }
    ],
    "default": {
    },
    "blocks": [
    ]
  }
{% endschema %}
